{% extends 'blog/main.html' %}
{% load static %}
{% block content %}
{% if blog.image %}
<img src="{{blog.image.url}}" alt="">
{% endif %}
<p>{{blog.title}}</p>
<p>{{blog.category}}</p>
<p>{{blog.author}}</p>
<p>{{blog.description}}</p>
<a href="{% url 'detailedblog' blog.id %}"> See More</a>

<br>
<p> Comment</p>

<form action="" method="post">
    {% csrf_token %}

    <p>{{form.comment}}</p>
    <input type="submit" value="Comment">
</form>
<br>
{% for comment in comments %}
{{comment.comment}}
{% endfor %}

{% endblock content %}